# From the clean bat
*.ncb
*.ilk
*.sdf
*.exp
*.map
*.pdb
x64/*.exp
x64/*.lib
Upgradelog.xml
*.exe
*.bsc
applog.txt
*.suo
*.user
*.o
*.VC.db
ipch
release
debug
.vs
x64/debug
x64/release
x64/releasedebug
x64/*.exe
x64/*.ilk
x64/*.pdb
dump.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
